<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Read (One)</title>
</head>
<body>
    <h1>User {{user.id}}</h1>
    <p>Full Name: {{user.first_name}} {{user.last_name}}</p>
    <p>Email: {{user.email}}</p>
    <p>Created On: {{user.created_at.strftime("%B %d, %Y")}}</p>
    <p>Last Updated On: {{user.updated_at.strftime("%B %d, %Y")}} at {{user.updated_at.strftime("%I:%M %p")}} </p>
    <a href="/users/{{user.id}}/edit">Edit</a>
    <a href="/users/{{user.id}}/delete">Delete</a>
    <a href="/users">Home</a>
</body>
</html>